.front {
    background-color: 	#939883;
}
#names {
    color: 	#304e60;
}
li{
    color: #565462;
}
img{
    width: 200px;
    height: 200px;
    border: dotted;
} 
.sitef { 
    background-color: #bdafc3;
}
#two{
    color: #675689;
}
